@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html {
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: theme('colors.white', white);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: theme('colors.black', black);
    }
}

/* https://fkhadra.github.io/react-toastify/how-to-style/ */
.toastBody {
    font-family: 'figtree', sans-serif;
}
.orangeToastProgress {
    background: #eb5e27 !important;
}
.purpleToastProgress {
    background: #7b32a8 !important;
}
.maroonToastProgress {
    background: #a8328f !important;
}
.turquoiseToastProgress {
    background: #32a8a4 !important;
}
